<h1>Here you can see All users message</h1>
<%@myblogs.each do |blog|%>
<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>	

	<tbody>	
		<tr>
			<h3 style="margin-top:30px;">Message # <%= blog.id%></h3>	
		</tr>
		<tr>
			<td><%= blog.message %></td>
		</tr>
		<tr>
			<td><strong>posted by : </strong><%=blog.user_type%></td>
		</tr>

		<tr>
			<td>  </td>
		</tr>

		<tr>
			<td>  </td>
		</tr>
		
			
	</tbody>
</table>
<%end%>